<div class="user-details">
  <form class="user-form" [formGroup]="userForm">
    <mat-form-field appearance="outline">
      <mat-label>Firstname</mat-label>
      <input matInput type="text" formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Lastname</mat-label>
      <input matInput type="text" formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Personal Number</mat-label>
      <input matInput type="text" formControlName="personalNumber" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input matInput type="date" formControlName="birthDate" />
    </mat-form-field>

    <ng-container *ngIf="options$ | async as options">
      <mat-form-field appearance="outline">
        <mat-label>Choose Status</mat-label>
        <mat-select formControlName="status">
          <mat-option
            *ngFor="let status of options.statuses"
            [value]="status.name"
            >{{ status.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose Category</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let category of options.categories"
            [value]="category.name"
            >{{ category.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </ng-container>
    <div class="btn-container">
      <button
        *ngIf="formType === 'edit'"
        color="primary"
        class="btn-update"
        type="button"
        mat-raised-button
        (click)="updateUser()"
        [disabled]="userForm.invalid"
      >
        Update user
      </button>
      <button
        *ngIf="formType === 'create'"
        color="accent"
        type="button"
        mat-raised-button
        (click)="createUser()"
        [disabled]="userForm.invalid"
      >
        Create user
      </button>
    </div>
  </form>
</div>
