.statuses-section {
  margin: 5em auto;
  width: 50%;
}

.statuses-table {
  width: 100%;
  border-collapse: collapse;
}

.cell, .title {
  text-align: center;
  padding: 1em;
  border-bottom: 1px solid #ddd;
}

.row:hover {
  background-color: rgb(238, 237, 237);
  transition: background-color 0.2s;
}

.btn-add {
  margin-bottom: 0.5em;
}

.btn-edit {
  margin-right: 0.2em;
}

.filter {
  width: 80%;
  margin-left: 1.5em;
}

.loading-spinner {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}